body {
    background: linear-gradient(-45deg, #4d76c4, #23a6d5, #e73c7e, #23d5ab);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
}

.container {
    display: flex;
    flex-direction: column;
}

audio {
    width: 100%;
    align-self: center;
}

@keyframes
gradient {
	0%, 100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}