body {
    background-color: rgb(22, 42, 83);
}

.container {
    display: flex;
    flex-direction: column;
}

audio {
    width: 100%;
    align-self: center;
}

@keyframes
gradient {
    0%, 100% {

    }
    10% {

    }
    20% {

    }
    30% {

    }
    40% {

    }
    50% {

    }
    60% {

    }
    70% {
        
    }
    80% {

    }
    90% {

    }
}